<?php

return [
    'appsignature' => 'none',
    'clientid' => '<CLIENT_ID>',
    'clientsecret' => '<CLIENT_SECRET>',
    'defaultwsdl' => 'https://webservice.exacttarget.com/etframework.wsdl',
    'xmlloc' => __DIR__ . '/ExactTargetWSDL.xml',
    'baseUrl' => '<REST_TENANT_SPECIFIC_ENDPOINT>',
    'baseAuthUrl' => '<AUTH_TENANT_SPECIFIC_ENDPOINT>',
    'baseSoapUrl' => '<SOAP_TENANT_SPECIFIC_ENDPOINT>',
    'useOAuth2Authentication' => true,
    'accountId' => '<ACCOUNT_ID>',
    'scope' => '',
    'proxyhost' => '',
    'proxyport' => '',
    'proxyusername' => '',
    'proxypassword' => '',
];
